<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03业务资源目录-01检务事项清单</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/><!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="format-detection" content="telephone=no"/><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
</head>
<body>
<div id="app"></div>
</body>
</html>